{% load static %}
 <header class="header-section">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <nav class="main-menu">
                            <ul>
                                {% if user.is_authenticated %}
                                <li>
                                    <h5 style="color:White">Hi {{ user.username }}</h5>
                                </li>
                                {% endif %}
                                <li
                                    {% if '/' == request.path %} class="active" {% else %} {% endif %}>
                                    <a href="{% url 'index' %}">Home</a>
                                </li>
                                <li
                                    {% if 'about' in request.path %} class="active" {% else %} {% endif %}>
                                    <a href="{% url 'about' %}">About</a>
                                </li>
                                <li
                                    {% if 'listing' in request.path %} class="active" {% else %} {% endif %}>
                                    <a href="{% url 'listings' %}">Listings</a>
                                </li>
                                {% if user.is_authenticated %}
                                <li
                                    {% if 'dashboard' in request.path %} class="active" {% else %} {% endif %}>
                                    <a href="{% url 'dashboard' %}">Dashboard</a>
                                </li>
                                {% endif %}
                                <li
                                    {% if 'blog' in request.path %} class="active" {% else %} {% endif %}>
                                    <a href="./blog.html">Blog</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-5">
                        <div class="top-right">
                            <div class="language-option">
                                <img src="{% static 'img/flag.png' %}" alt="">
                                <span>English</span>
                                <i class="fa fa-angle-down"></i>
                                <div class="flag-dropdown">
                                    <ul>
                                        <li><a href="#">English</a></li>
                                    </ul>
                                </div>
                            </div>
                            {% if user.is_authenticated %}
                                <a href="javascript:{document.getElementById('logout').submit()}" class="property-sub">Logout</a>
                                <form action="{% url 'logout' %}" method="POST" id="logout">
                                {% csrf_token %}
                                <input type="hidden">
                                </form>
                            {% else %}
                                <a href="{% url 'login' %}" class="property-sub">Login</a>
                                <a href="{% url 'register' %}" class="property-sub">Register</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-logo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="logo">
                            <img src="{% static 'img/icon_4.png' %}" alt="Encipherer Real Esatate">
                            <b>Encipherer Real Estate</b>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="nav-logo-right">
                            <ul>
                                <li>
                                    <i class="icon_phone"></i>
                                    <div class="info-text">
                                        <span>Phone:</span>
                                        <p>(+234)9022123561</p>
                                    </div>
                                </li>
                                <li>
                                    <i class="icon_mail"></i>
                                    <div class="info-text">
                                        <span>Email:</span>
                                        <p>kehindekehinde894@gmail.com</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>