{% extends 'base.html' %}
{% block title %} | About {% endblock %}
{% load static %}
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>About Us</h2>
                        <div class="breadcrumb-option">
                            <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                            <span>About Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section Begin -->

    <!-- About Section Begin -->
    <section class="about-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>About Us</span>
                        <h2>Hello! Welcome to Encpiphere Real Estate<span>.</span></h2>
                        <p>There is no better advertisement campaign that is low cost and also successful at the same
                            time. Great business ideas when utilized effectively can save lots of money. This is not
                            only easy for those who work full-time as an advertiser, but also for those who work from
                            home. Advertising from home is also a low cost option, which involves making and
                            distributing fliers.</p>
                    </div>
                    <div class="video-text set-bg" data-setbg="{% static 'img/video-bg.jpg' %}">
                        <a href="https://www.youtube.com/watch?v=EzKkl64rRbM" class="play-btn video-popup"><i
                                class="fa fa-play"></i></a>
                        <h4>Find The Perfect</h4>
                        <h2>Real Estate Agent Near You</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="about-text">
                                <h4>Our Story</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-text">
                                <h4>Our Vision</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                                    gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial-section set-bg spad" data-setbg="{% static 'img/testimonial-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Realtor of the month</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="testimonial-slider owl-carousel">
                        {% for mvp in mvp_realtor %}
                        <div class="ts-item">
                            <img src="{{ mvp.photo.url }}" height="400" width="200" overflow="hidden" style="border-radius:500%">
                            <p>{{ mvp.description }}</p>
                            <div class="ti-author">
                                <h5>{{ mvp.name }}</h5>
                                <h5>{{ mvp.email }}</h5>
                                <span>CEO deercreative</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Agent Section Begin -->
    <section class="agent-section about-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>We Are To Help You</span>
                        <h2>Our Agents</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="agent-carousel owl-carousel">
                {% for realtor in realtors %}
                    <div class="col-lg-3">
                        <div class="single-agent">
                            <div class="sa-pic">
                                <img src="{{ realtor.photo.url }}" alt="">
                                <div class="hover-social">
                                    <a href="www.twitter.com" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="www.instagram.com" class="instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="www.facebook.com" class="facebook"><i class="fa fa-facebook"></i></a>
                                </div>
                            </div>
                            <h5>{{ realtor.name }} <span>Founder & Ceo</span></h5>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Agent Section End -->

    <!-- Partner Carousel Section Begin -->
    <div class="partner-section">
        <div class="container">
            <div class="partner-carousel owl-carousel">
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="{% static 'img/partner/partner-1.png' %}" alt="">
                    </div>
                </a>
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="{% static 'img/partner/partner-2.png' %}" alt="">
                    </div>
                </a>
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="{% static 'img/partner/partner-3.png' %}" alt="">
                    </div>
                </a>
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="{% static 'img/partner/partner-4.png' %}" alt="">
                    </div>
                </a>
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="{% static 'img/partner/partner-5.png' %}" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Partner Carousel Section End -->

{% endblock %}