{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | Welcome {% endblock %}
{% block content %}
<!-- Hero Section Begin -->
    {% include 'partials/_alerts.html' %}
    <section class="hero-section">
        <div class="hero-items owl-carousel">
            {% for carousel in carousels %}
            <div class="single-hero-item set-bg" data-setbg="{{ carousel.photo_main.url }}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="hero-text">
                                <p class="room-location"><i class="icon_pin"></i> {{ carousel.zipcode }} {{ carousel.state }} ,
                                    {{ carousel.city }}</p>
                                <a href="{% url 'listing' carousel.id %}"><h2>{{ carousel.title }}</h2></a>
                                <div class="room-price">
                                    <span>Start Form:</span>
                                    <p>₦{{ carousel.price | intcomma }}</p>
                                </div>
                                <ul class="room-features">
                                    <li>
                                        <i class="fa fa-arrows"></i>
                                        <p>{{ carousel.sqft }} sqft</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bed"></i>
                                        <p>{{ carousel.bedroom }} Bed Room</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bath"></i>
                                        <p>{{ carousel.bathrooms }} Baths Rooms</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-car"></i>
                                        <p>{{ carousel.garage }} Garage</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="thumbnail-pic">
            <div class="thumbs owl-carousel">
                {% for carousel in carousels %}
                <div class="item">
                    <img src="{{ carousel.photo_main.url }}" alt="">
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Search Form Section Begin -->
    <div class="search-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="search-form-text">
                        <div class="search-text">
                            <i class="fa fa-search"></i>
                            Find Your Home
                        </div>
                        <div class="home-text">
                            <i class="fa fa-home"></i>
                            Home For Sell
                        </div>
                    </div>
                    <form action="{% url 'search' %}" class="filter-form">
                        <div class="second-row">
                            <select name="state">
                                <option selected="true" disabled="disabled">State (All)</option>
                                {% for key,value in state_choices.items %}
                                    <option value="{{ key }}" {% if key == values.state %} selected {% endif %}>{{ value }}</option>
                                {% endfor %}
                            </select>
                            <select name="bedrooms">
                                <option selected="true" disabled="disabled">Bedrooms (All)</option>
                                {% for key,value in bedroom_choices.items %}
                                    <option value="{{ key }}" {% if key == values.bedrooms %} selected {% endif %}>{{ value }}</option>
                                {% endfor %}
                            </select>
                            <select name="price">
                                <option selected="true" disabled="disabled">Price (All)</option>
                                 {% for key,value in prices_choices.items %}
                                    <option value="{{ key }}" {% if key == values.price %} selected {% endif %}>{{ value }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="search-btn">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Form Section End -->

    <!-- How It Works Section Begin -->
    <section class="howit-works spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Find Your Dream House</span>
                        <h2>How It Work</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-howit-works">
                        <img src="{% static 'img/howit-works/howit-works-1.png' %}" alt="">
                        <h4>Search & Find Apertment</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-howit-works">
                        <img src="{% static 'img/howit-works/howit-works-2.png' %}" alt="">
                        <h4>Find Your Room</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-howit-works">
                        <img src="{% static 'img/howit-works/howit-works-3.png' %}" alt="">
                        <h4>Talk To Agent</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- How It Works Section End -->

    <!-- Feature Section Begin -->
    <section class="feature-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Listing From Our Agents</span>
                        <h2>Featured Properties</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="feature-carousel owl-carousel">
                {% if featured %}
                    {% for feature in featured %}
                        <div class="col-lg-4">
                        <div class="feature-item">
                           <div class="fi-pic set-bg" data-setbg="{{ feature.photo_main.url }}">
                                <div class="pic-tag">
                                    <div class="f-text">Featured</div>
                                    <div class="s-text">For Sale</div>
                                </div>
                                <div class="feature-author">
                                    <div class="fa-pic">
                                        <img src="{{ feature.realtor.photo.url }}" alt="">
                                    </div>
                                    <div class="fa-text">
                                        <span>{{ feature.realtor }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="fi-text">
                                <div class="inside-text">
                                    <a href="{% url 'listing' feature.id %}"><h4>{{ feature.title |truncatewords:10|linebreaks }}</h4></a>
                                    <ul>
                                        <li><i class="fa fa-map-marker"></i>{{ feature.state }}</li>
                                        <li><i class="fa fa-tag"></i> {{ feature.city }}</li>
                                    </ul>
                                    <h5 class="price">₦{{ feature.price | intcomma }}</h5>
                                </div>
                                <ul class="room-features">
                                    <li>
                                        <i class="fa fa-arrows"></i>
                                        <p>{{ feature.sqft }} sqft</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bed"></i>
                                        <p>{{ feature.bedrooms }}</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-bath"></i>
                                        <p>{{ feature.bathrooms }}</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-car"></i>
                                        <p>{{ feature.garage }}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-lg-12">
                        <div class="section-title">
                            <span>No Listing From Our Agents</span>
                            <h2>No Featured Properties</h2>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Section End -->

    <!-- Video Section Begin -->
    <div class="video-section set-bg" data-setbg="{% static 'img/video-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="video-text">
                        <a href="https://www.youtube.com/watch?v=EzKkl64rRbM" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                        <h4>Find The Perfect</h4>
                        <h2>Real Estate Agent Near You</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Section End -->

    <!-- Latest Properties Section Begin -->

    <div class="top-properties-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="properties-title">
                        <div class="section-title">
                            <span>Latest Property For You</span>
                            <h2>Latest Properties</h2>
                        </div>
                        <a href="{% url 'listings' %}" class="top-property-all">View All Property</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="top-properties-carousel owl-carousel">
            {% if listings %}
                {% for listing in listings %}
                <div class="single-top-properties">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="stp-pic">
                                <a href="{% url 'listing' listing.id %}"><img src="{{ listing.photo_main.url }}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="stp-text">
                                <div class="s-text">For Sale</div>
                                <h2>{{ listing.title }}</h2>
                                <div class="room-price">
                                    <span>Start From:</span>
                                    <h4>₦{{ listing.price | intcomma }}</h4>
                                </div>
                                <div class="properties-location"><i class="icon_pin"></i> {{ listing.zipcode }} {{ listing.address }}.
                                        {{ listing.city}}, {{ listing.state }}</div>
                                <p>{{ listing.description|truncatewords:30|linebreaks }}</p>
                                <ul class="room-features">
                                        <li>
                                            <i class="fa fa-arrows"></i>
                                            <p>{{ listing.sqft }} sqft</p>
                                        </li>
                                        <li>
                                            <i class="fa fa-bed"></i>
                                            <p>{{ listing.bedrooms }} Bed Room</p>
                                        </li>
                                        <li>
                                            <i class="fa fa-bath"></i>
                                            <p>{{ listing.bathrooms }} Baths/toilet</p>
                                        </li>
                                        <li>
                                            <i class="fa fa-car"></i>
                                            <p>{{ listing.garage }} Garage</p>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="col-lg-12">
                    <div class="properties-title">
                        <div class="section-title">
                            <span>No Latest Property For You</span>
                            <h2>No Latest Properties</h2>
                        </div>
                        <a href="{% url 'listings' %}" class="top-property-all">View All Property</a>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>

    <!-- Latest Properties Section End -->

    <!-- Agent Section Begin -->
    <section class="agent-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>We Are To Help You</span>
                        <h2>Our Agents</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="agent-carousel owl-carousel">
                {% for realtor in realtors %}
                    <div class="col-lg-3">
                        <div class="single-agent">
                            <div class="sa-pic">
                                <img src="{{ realtor.photo.url }}" alt="">
                                <div class="hover-social">
                                    <a href="www.twitter.com" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="www.instagram.com" class="instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="www.facebook.com" class="facebook"><i class="fa fa-facebook"></i></a>
                                </div>
                            </div>
                            <h5>{{ realtor.name }} <span>Founder & Ceo</span></h5>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Agent Section End -->

    <!-- Latest Blog Section Begin -->
    <section class="blog-section latest-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Blog & Events</span>
                        <h2>News Latest</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="{% static 'img/blog/latest-1.jpg' %}" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="fa fa-user"></i> Adam Smith</li>
                                <li><i class="fa fa-clock-o"></i> 18th Jan, 2019</li>
                            </ul>
                            <h4><a href="#">Enhance Your Brand Potential With Giant.</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="{% static 'img/blog/latest-2.jpg' %}" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="fa fa-user"></i> Adam Smith</li>
                                <li><i class="fa fa-clock-o"></i> 18th Jan, 2019</li>
                            </ul>
                            <h4><a href="#">Illustration In Marketing Materials</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="{% static 'img/blog/latest-3.jpg' %}" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="fa fa-user"></i> Adam Smith</li>
                                <li><i class="fa fa-clock-o"></i> 18th Jan, 2019</li>
                            </ul>
                            <h4><a href="#">Branding Do You Know Who You Are</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->

    <!-- Partner Carousel Section Begin -->
    <div class="partner-section">
        <div class="container">
            <div class="partner-carousel owl-carousel">
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="{% static 'img/partner/partner-1.png' %}" alt="">
                    </div>
                </a>
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="{% static 'img/partner/partner-2.png' %}" alt="">
                    </div>
                </a>
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="{% static 'img/partner/partner-3.png' %}" alt="">
                    </div>
                </a>
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="{% static 'img/partner/partner-4.png'%}" alt="">
                    </div>
                </a>
                <a href="#" class="partner-logo">
                    <div class="partner-logo-tablecell">
                        <img src="{% static 'img/partner/partner-5.png' %}" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Partner Carousel Section End -->
{% endblock %}